<a href="https://colab.research.google.com/github/aliciaherraiz/CAB_Week1/blob/main/Assignments%201-5%20Beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Solution to Q1

years = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
age = []

for i in years:

    age.append(2019 - i)

print(age)

[20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

In [2]:
# Solution to Q1 function

# Sample input:   [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
# Sample output: [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

years = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
age = []
def ages (years):
    for i in years:
       age.append(2019 - i)
    return age

In [3]:
ages(years)

[20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

In [4]:
# Solution to Q2

age = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
age.remove(max(age))
age.remove(min(age))
print(age)

[20, 24, 14, 12, 13, 25, 23, 11]

In [5]:
# Solution to Q2 funtion

# Sample input: [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
# Sample output: [20, 24, 14, 12, 13, 25, 23, 11]

age = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

def remove_ages (age):
    age.remove(max(age))
    age.remove(min(age))
    return(age)

In [6]:
remove_ages(age)

[20, 24, 14, 12, 13, 25, 23, 11]

In [7]:
# Solution to Q3 

berlin = [15, 13, 16, 18, 19, 10, 12]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

age_of_customers = []
for i in berlin:
    if i in munich:
        age_of_customers.append(i)

print(age_of_customers)

[15, 13, 16, 18, 19, 10]

In [9]:
# Solution to Q3 function

# Sample input: [15, 13, 16, 18, 19, 10, 12 ], [7, 13, 15, 20, 19, 18, 10, 16]
# Sample output: [15,13,16,18,19,10]

berlin = [15, 13, 16, 18, 19, 10, 12]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
age_of_customers = []
def common_values_list (berlin, munich):
    for i in berlin:
        if i in munich:
            age_of_customers.append(i)
    return(age_of_customers)

In [10]:
common_values_list (berlin, munich)

[15, 13, 16, 18, 19, 10]

In [11]:
# Solution to Q4

# Sample input: [15,13,16,18,19,15,10]
# Sample output: [15,13,16,18,19,10]

duplicates = [15,13,16,18,19,15,10]
age_without_duplicates = []
for i in duplicates:
    if i not in age_without_duplicates:
        age_without_duplicates.append(i)
print(age_without_duplicates)

[15, 13, 16, 18, 19, 10]

In [13]:
# Solution to Q4 function

# Sample input: [15,13,16,18,19,15,10]
# Sample output: [15,13,16,18,19,10]

duplicates = [15,13,16,18,19,15,10]
age_without_duplicates = []
def list_no_duplicates(duplicates):
    for i in duplicates:
        if i not in age_without_duplicates:
            age_without_duplicates.append(i)
    return(age_without_duplicates)

In [14]:
list_no_duplicates(duplicates)

[15, 13, 16, 18, 19, 10]

In [17]:
# Solution to Q5 on logic but not on function (Part A)

age_of_customers = [15,13,16,18,19,15,10]
x = 15
age = x
x in age_of_customers

True

In [18]:
# Solution to Q5 on logic but not on function (Part B)

age_of_customers = [15,13,16,18,19,15,10]
y = 28
age = y
y in age_of_customers

False

In [20]:
# Solution to Q5 funcion

# Sample input: [15,13,16,18,19,15,10], 15
# Sample output: True

# Sample input: [15,13,16,18,19,15,10], 28
# Sample output: False

age_of_customers = [15,13,16,18,19,15,10]
x = 15

def find(age_of_customers, x):
    if x in age_of_customers:
        return("True")
    if x not in age_of_customers:
         return("False")

In [21]:
find(age_of_customers, x)

'True'